*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    overflow-x: hidden; 
}
 header{
    background-color: #0b0b0b;
    color: white;
    padding: 50px 20px;
    text-align: center;
 }

 header h1{
    font-size: 40px;
    margin-bottom: 10px;
 }

 header p{
    font-size: 18px;
    color: #cccccc;
 }

 nav {
    background-color: #13202f;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
 }

 nav a{
   color: white;
   text-decoration:none;
   font-weight: bold;
 }
 
 nav a:hover {
   color: #3b82f6;
 }

 section{
   padding: 50px 20px;
   max-width: 1000px;
   margin: 0 auto;
 }

 section h2{
   font-size: 28px;
   margin-bottom: 25px;
   border-bottom: 3px solid #3b82f6;
   display: inline-block;
   padding-bottom: 5px;
 }

 #about p{
   margin-bottom: 12px;
 }

 #about h3{
   margin-top: 25px;
   margin-bottom: 10px;
   color: #0b1623;
 }
 

 #skills ul{
   list-style:none;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 15px;
 }

 #skills li{
   background-color: white;
   padding: 18px;
   text-align: center;
   border-radius: 6px;
   border-top: 3px solid #3b82f6;
   font-weight: bold;
   transition: transform 0.2s, background-color 0.2s, color 0.2s;
 }

 #skills li:hover{
  background-color:blueviolet;
  color: pink;
  transform: scale(1.05);
  cursor: pointer;
 }

.lang_list{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  max-width: 400px;
}

.lang_list li{
  background-color: white;
  padding: 18px;
  text-align: center;
  border-radius: 6px;
  border-top: 3px solid #3b82f6;
  font-weight: bold;
  transition: transform 0.2s, background-color 0.2s, color 0.2s;
}

.lang_list li:hover{
  background-color:cadetblue;
  color: whitesmoke;
  transform: scale(1.05);
  cursor: pointer;
}

.tools_list{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  max-width: 400px;
}

.tools_list li{
  background-color: white;
  padding: 18px;
  text-align: center;
  border-radius: 6px;
  border-top: 3px solid #3b82f6;
  font-weight: bold;
  transition: transform 0.2s, background-color 0.2s, color 0.2s;
}

.tools_list li:hover{
  background-color:rgb(255, 4, 196);
  color: whitesmoke;
  transform: scale(1.05);
  cursor: pointer;
}

.hobbies_list{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
  max-width: 800px;
}

.hobbies_list li{
  background-color: white;
  padding: 18px;
  text-align: center;
  border-radius: 6px;
  border-top: 3px solid #3b82f6;
  font-weight: bold;
  transition: transform 0.2s, background-color 0.2s, color 0.2s;
}

.hobbies_list li:hover{
  background-color:rgb(132, 0, 255);
  color: whitesmoke;
  transform: scale(1.05);
  cursor: pointer;
}

 .projects_grid{
   display: grid;
   grid-template-columns: repeat(auto, minmax(280px, 1fr));
   gap: 20px;
   margin-top: 20px;
 }

 .projects_card{
   background-color: white;
   padding: 20px;
   border: 1px solid #ddd;
   border-radius: 6px;
   display: flex;
   flex-direction: column;
 }

 tags{
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
 }

 #projects h3{
   margin-bottom: 8px;
   color: #0b1623;
 }

 #projects p{
   color: #555;
   margin-bottom: 12px;
 }

 #projects span{
   background-color: #e8f0fe;
   color: #3b82f6;
   padding: 4px 10px;
   font-size: 13px;
   border-radius: 4px;
   display: inline-block;
   transition: transform 0.2s, background-color 0.2s, color 0.2s;
 }

#projects span:hover{
  background-color:aquamarine;
  color: black;
  transform: scale(1.1);
  cursor: pointer;
 }


 .contact_grid{
   display: grid;
   grid-template-columns: repeat(auto , minmax(220px, 1fr));
   gap: 15px;
   margin-top: 20px;
 }

 .contact_box{
   background-color: white;
   padding: 18px;
   border-radius: 6px;
   transition: transform 0.2s, background-color 0.2s, color 0.2s;
 }

 .contact_box:hover{
  background-color:bisque;
  color: black;
  transform: scale(1.05);
  cursor: pointer;
 }

 #contact strong{
   display: block;
   margin-bottom: 4px;
   color: #3b82f6;
 }

 footer{
   background-color: #0b1623;
   color: #999;
   padding: 20px;
   display: flex;
   justify-content: center;
   font-size: 14px;
 }

 @media (max-width: 600px) {
   #skills ul{
      grid-template-columns: repeat(2, 1fr);
   }
   .tools_list{
     grid-template-columns: repeat(2, 1fr);
   }
   .lang_list{
     grid-template-columns: repeat(2, 1fr);
   }
 }